.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}



.card {
  background-color: #333;
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;

}

.card p {
  padding: 20px 0px;
}

.card img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.card button {
  background-color: white;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 10px;
}